language: python
matrix:
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38
    - python: 3.9
      env: TOXENV=py39

branches:
  only:
    - master

cache:
  directories:
    - /opt/python-libarchive-c

env:
  global:
    - LIBARCHIVE=/opt/python-libarchive-c/lib/libarchive.so

before_install:
  - sudo apt-get install -y zlib1g-dev liblzma-dev libbz2-dev libxml2-dev nettle-dev libattr1-dev libacl1-dev
  - "if [ ! -e $LIBARCHIVE ]; then
        wget http://libarchive.org/downloads/libarchive-3.3.2.tar.gz &&
        tar -xf libarchive-3.3.2.tar.gz && cd libarchive-3.3.2 &&
        ./configure --prefix=/opt/python-libarchive-c --disable-bsdcpio --disable-bsdtar &&
        make && sudo make install && cd .. ;
    fi"

install: pip install tox

script: tox

notifications:
  email: false

sudo: required
dist: xenial
