language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

branches:
  only:
    - master

cache:
  directories:
    - /usr/local/lib

before_install:
  - deactivate
  - sudo apt-get install -y zlib1g-dev liblzma-dev libbz2-dev libxml2-dev nettle-dev libattr1-dev libacl1-dev
  - "if [ ! -e /usr/local/lib/libarchive.so ]; then
        wget http://libarchive.org/downloads/libarchive-3.1.2.tar.gz &&
        tar -xf libarchive-3.1.2.tar.gz && cd libarchive-3.1.2 &&
        ./configure --disable-bsdcpio --disable-bsdtar && make &&
        sudo make install && cd .. ;
    fi"

install: pip install tox-travis

script: tox

notifications:
  email: false

sudo: required
dist: trusty
